#tablero {
    width: 680px;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    background: #00a39d;
    margin-left: 2vw;
}

#tablero div {
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
    transition: transform ease .5s;
    margin: 10px;
    border: 3px solid #fff;
    background-image: url(../../img/reverso.svg);
    border-radius: 5px;
}

#tablero div:hover {
    transform: rotate(360deg);
    transition: 2s;
}

.imagenCarta {
    display: none;
    width: 100%;
}

.open img {
    display: inline-block;
}

.cartasConImagen {
    width: 100%;
}

.titulo {
    font-size: 3rem;
}
